* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

app/secrets/oauth/oauth-private.key   binary
app/secrets/oauth/oauth-public.key    binary

